      <aside>
        <input type="checkbox" name="menu" id="t" aria-label="Menu"></input>
        <label for="menu" id="o" aria-label="Open Menu">&#9776;</label>
        <label for="menu" id="c" aria-label="Close Menu">&#x2716;</label>
        <nav>
          <a href="{{ site.url | append: site.baseurl }}">Home</a>
          <a href="{{ site.url | append: site.baseurl }}/about/">About</a>
          <a href="{{ site.url | append: site.baseurl }}/contact/">Contact</a>
        </nav>
      </aside>